<!-- add_brinquedo.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Brinquedo</title>
    <link rel="stylesheet" href="{% static 'App_Projetos2/css/add_brinquedos.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-left"><circle cx="12" cy="12" r="10"/><path d="M16 12H8"/><path d="m12 8-4 4 4 4"/></svg>
          </a>
        <h1>Adicionar Brinquedo</h1>
    </header>

    <main>
        <form method="POST" action="{% url 'add_brinquedo' %}>
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" required>
            </div>
            <div class="form-group">
                <label for="preco">Preço:</label>
                <input type="text" name="preco" required>
            </div>
            <div class="form-group">
                <label for="faixaetaria">Faixa Etária:</label>
                <input type="text" name="faixaetaria" required>
            </div>
            <div class="form-group">
                <label for="material">Material:</label>
                <input type="text" name="material" required>
            </div>
            <button type="submit">Adicionar Brinquedo</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Fábrica de Ideias. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
