{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'App_Projetos2/css/admin.css' %}">
    <title>Página de Gerenciamento</title>
</head>
<body>

    <h1>Página de Gerenciamento</h1>

    <div class="button-group"> <!-- Grupo de botões -->
        <a href="{% url 'add_brinquedo' %}"><button class="add-brinquedo">Adicionar Brinquedo</button></a>
        <a href="{% url 'visualizar_doacao' %}"><button class="visualizar-doacoes">Visualizar Doações</button></a>
        <a href="{% url 'home' %}"><button class="home-button">home</button></a>
        <a href="{% url 'gerar_relatorio' %}"><button class="excel-button">Baixar Relatório de Doações</button></a>
    </div>

</body>
</html>
