<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'App_Projetos2/css/login.css' %}">
</head>
<body>
<div class="form-container">
    <h2 class="above-text">Login</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Entrar</button>
    </form>

    {% if form.errors %}
        <div>
            <p>Erro: Usuário ou senha incorretos.</p>
        </div>
    {% endif %}

    <p>Ainda não tem uma conta? <a href="{% url 'cadastro_user' %}" class="below-text">Clique aqui</a> para se cadastrar.</p> 
</div>
</body>
</html>
