<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'App_Projetos2/css/login.css' %}">
</head>

<body>

    <header class="header-container">
        <div class="logo">
            <img src="{% static 'App_Projetos2/imgs/whitelogo.PNG' %}" alt="Logo ToyTopia">
        </div>
    </header>
    

    <div class="form-container">
        <h2 class="above-text">Login</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Entrar</button>

            {% if mensagem %}
            <div class="mensagem {{ tipo_mensagem}}">
                {{ mensagem }}
            </div>
            {% endif %}
        </form>

        <p>Não possui conta? <a href="{% url 'cadastro_user' %}" class="below-text">Cadastre-se</a></p>
    </div>
</body>

</html>