<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uso de Resíduos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'App_Projetos2/css/residuos.css' %}">
</head>
<body>
    <header class="header-container">

        <a href="{% url 'home' %}" class="back-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-circle-arrow-left">
                <circle cx="12" cy="12" r="10" />
                <path d="M16 12H8" />
                <path d="m12 8-4 4 4 4" />
            </svg>
        </a>

        <div class="logo">
            <img src="{% static 'App_Projetos2/imgs/whitelogo.PNG' %}" alt="Logo ToyTopia">
        </div>
    </header>

    <div class="brinquedos-container">
        {% for brinquedo in brinquedos %}
            <div class="brinquedo-card">
                <h2 class="brinquedo-nome">{{ brinquedo.nome }}</h2>
                <p class="brinquedo-material">Material: {{ brinquedo.material }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
