{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'App_Projetos2/css/visualizar_doacao.css' %}">
    <title>Visualizar Doações</title>
</head>
<body>
    <header class="header">
        <a href="{% url 'home' %}">
            <img src="{% static 'App_Projetos2/imgs/whitelogo.PNG' %}" alt="Logo ToyTopia" class="logo">
        </a>
    </header>

    <div class="container">
        <h1>Lista de Doações</h1>

        {% if doacoes %}
            <ul>
                {% for doacao in doacoes %}
                    <li>
                        <strong>Nome do Doador:</strong> {{ doacao.nome_doador }}<br>
                        <strong>Email:</strong> {{ doacao.email_doador }}<br>
                        <strong>Telefone:</strong> {{ doacao.telefone_doador }}<br>
                        <strong>Tipo de Doação:</strong> {{ doacao.tipo_doacao }}<br>
                        <strong>Descrição:</strong> {{ doacao.descricao }}<br>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma doação cadastrada.</p>
        {% endif %}
    </div>
</body>
</html>