Ambiente Virtual
venv/
env/

Arquivos Python compilados
pycache/
*.py[cod]

Arquivos de log
*.log


Arquivos de configurações do IDE/editor
.vscode/
.idea/

Arquivos de mídia e uploads (se você estiver armazenando no projeto)
media/
