/* Estilos Gerais */
body {
    background: #ffffff;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

.header-container {
    height: 112px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ececec;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    margin-left: 60px;
    height: 135px;
    width: auto;
    object-fit: contain;
}

/* Estilo para o link da seta */
.back-arrow {
    position: fixed;  /* Fixa a seta no canto superior esquerdo da tela */
    top: 20px;        /* Espaço do topo */
    left: 20px;       /* Espaço da borda esquerda */
    z-index: 1000;    /* Garante que a seta esteja acima de outros elementos */
    text-decoration: none; /* Remove sublinhado */
    color: #000;      /* Cor do ícone */
}

.back-arrow svg {
    width: 30px;    /* Tamanho do ícone */
    height: 30px;
}

/* Mudança de cor no hover */
.back-arrow:hover {
    color: #007bff; /* Cor ao passar o mouse */
}

/* Conteúdo Principal */
main {
    width: 100%;
    max-width: 600px;
    margin: 150px auto; /* Espaço superior devido ao header fixo */
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center;
    
}

.highlighted-title {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"], textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, textarea:focus {
    border-color: #7D99EC;
    outline: none;
    box-shadow: 0 0 8px rgba(125, 153, 236, 0.5);
}

button[type="submit"] {
    padding: 12px 20px;
    background-color: #7D99EC;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #4972ec;
    transform: scale(1.02);
}
