/* Estilos Gerais */
body {
    background: #ffffff;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do link da seta */
.back-arrow {
    text-decoration: none;
    color: #000;
}

.back-arrow svg {
    width: 30px;
    height: 30px;
}

.back-arrow:hover {
    color: #007bff;
}

/* Logo */
.logo img {
    height: 60px; /* Ajuste o tamanho da logo conforme necessário */
    width: auto;
    object-fit: contain;
}

/* Estilo para o título da página */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Estilo do formulário */
form {
    margin-top: 150px; /* Ajuste para que o formulário não sobreponha o cabeçalho fixo */
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

/* Botão de Compra */
button.comprar-btn {
    background-color: #4972ec;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
}

button.comprar-btn:hover {
    background-color: #305de6;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

/* Logo - Alinhar à esquerda */
.logo {
    margin-left: 0;  /* Remove espaçamento extra à esquerda */
    margin-right: auto; /* Garante que a logo esteja à esquerda */
    display: flex;
    align-items: center; /* Centraliza verticalmente a imagem no cabeçalho */
}

.logo img {
    height: 135px; /* Ajuste o tamanho da logo */
    width: auto;
    object-fit: contain;
}