body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(4, 251, 70); /* Fundo neutro */
  color: #333;
}

header {
  background-color: #ffffff;
  color: #000; /* Cor do texto em preto */
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid black; 
}

h1 {
  margin: 0;
  font-size: 2.5em; /* Tamanho da fonte */
}

h2 {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.intro {
  padding: 20px;
  background: #FFFFFF; /* Fundo branco */
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.intro p {
  font-size: 1.2em;
}

.button-group {
  display: flex; /* Alinha os botões em uma linha */
  justify-content: center; /* Centraliza os botões */
  gap: 10px; /* Espaço entre os botões */
  margin-top: 20px; /* Espaço acima dos botões */
}


.doar {
  background-color: rgb(255, 0, 111);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.doar:hover {
  background-color: rgb(200, 0, 90); /* Muda a cor ao passar o mouse */
}

.comprar_brinquedos {
  background-color: rgb(0, 140, 255); /* Azul para o botão de compra */
  color: white; /* Texto em branco */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.comprar_brinquedos:hover {
  background-color: rgb(0, 110, 210); /* Cor ao passar o mouse */
}

.add-brinquedos {
  background-color: rgb(255, 149, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.add-brinquedos:hover {
  background-color: rgb(255, 149, 0); /* Muda a cor ao passar o mouse */
}

.sugestao_brinquedo {
  background-color: rgb(102, 204, 0); /* Cor de fundo para o botão sugestão */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.sugestao_brinquedo:hover {
  background-color: rgb(76, 153, 0); /* Cor ao passar o mouse */
}

footer {
  background-color: #1114117e; /* Cor de fundo do rodapé */
  color: white; /* Cor do texto em branco */
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  margin: 0 10px;
}

.color1 {
  color: rgb(255, 0, 111);
}

.color2 {
  color: rgb(191, 0, 255);
}

.color3 {
  color: rgb(255, 111, 0);
}

.color4 {
  color: rgb(255, 0, 111);
}

.color5 {
  color: rgb(191, 0, 255);
}

.color6 {
  color: rgb(2, 217, 255);
}

.color7 {
  color: rgb(4, 251, 70);
}

.color8 {
  color: rgb(255, 0, 111);
}

.gallery {
  display: flex;
  justify-content: space-evenly; /* Distribui o espaço de forma simétrica */
  align-items: stretch;  /* Garante que todas as caixas tenham a mesma altura */
  margin: 20px;
}

/* Estilo para as caixas de texto */
.box {
  width: 200px; /* Largura de cada caixa de texto */
  padding: 20px;
  background-color: #FFFFFF;
  text-align: center;
  border: 1px solid black;
  font-size: 16px;
  margin-top: 35px;
  min-height: 150px; /* Define uma altura mínima para a caixa */
}
