body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: white;/* Degradê de tons de roxo */
  color: #333;
}

header {
  background-color: #4972ec;
  color: #000; /* Cor do texto em preto */
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid black; 
}
.logo img {
  height: 135px;
  width: 296px;
  object-fit: contain;
}

h2 {
  text-align: center;
  font-size: 36px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.intro {
  padding: 20px;
  background: #ffffff; /* Fundo branco */
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.intro p {
  font-size: 1.2em;
}

.button-group {
  display: flex; /* Alinha os botões em uma linha */
  justify-content: center; /* Centraliza os botões */
  gap: 10px; /* Espaço entre os botões */
  margin-top: 20px; /* Espaço acima dos botões */
}


.doar {
  background-color: #ff5e78;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.doar:hover {
  background-color: rgb(200, 0, 90); /* Muda a cor ao passar o mouse */
}

.comprar_brinquedos {
  background-color: #50c878; /* Azul para o botão de compra */
  color: black; /* Texto em branco */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.comprar_brinquedos:hover {
  background-color: rgb(0, 110, 210); /* Cor ao passar o mouse */
}

.add-brinquedos {
  background-color: #f8de7e;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.add-brinquedos:hover {
  background-color: rgb(255, 149, 0); /* Muda a cor ao passar o mouse */
}

.sugestao_brinquedo {
  background-color: #f8de7e;; /* Cor de fundo para o botão sugestão */
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.sugestao_brinquedo:hover {
  background-color: rgb(76, 153, 0); /* Cor ao passar o mouse */
}

.residuos{
  background-color: #1fb6ff; /* Cor de fundo para o botão sugestão */
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.residuos:hover {
  background-color: rgb(204,204,0); /* Cor ao passar o mouse */
}

.trabalhe_conosco {
  background-color: #ff6ec7;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Efeito de transição *//
}

.trabalhe_conosco:hover {
  background-color: darkorange;
}

footer {
  background-color: #4972ec; /* Cor de fundo do rodapé */
  color: rgb(0, 0, 0); /* Cor do texto em branco */
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: rgb(0, 0, 0);
  margin: 0 10px;
}


.gallery {
  display: flex;
  justify-content: space-evenly; /* Distribui o espaço de forma simétrica */
  align-items: stretch;  /* Garante que todas as caixas tenham a mesma altura */
  margin: 20px;
}

/* Estilo para as caixas de texto */
.box {
  width: 200px; /* Largura de cada caixa de texto */
  padding: 20px;
  background-color: #FFFFFF;
  text-align: center;
  border: 1px solid rgb(7, 7, 7);
  font-size: 18px;
  margin-top: 35px;
  min-height: 100px; /* Define uma altura mínima para a caixa */
}

/* Estilos para a sidebar */
.sidebar {
  height: 100%;
  width: 0; /* Inicialmente escondida */
  position: fixed;
  top: 0;
  right: 0;
  background-color: #4972ec;
  overflow-x: hidden;
  transition: 0.3s; /* Transição suave para a sidebar */
  padding-top: 60px;
  z-index: 1000; /* Certifique-se de que a sidebar esteja acima de outros elementos */
}

.sidebar .sidebar-header {
  color: white;
  padding: 10px;
  text-align: center;
}

.sidebar .sidebar-content {
  padding: 10px;
  color: white;
}

.sidebar .logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px;
  text-align: center;
  display: block;
  margin-top: 20px;
  border-radius: 5px;
}

#overlay {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.user-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
}

.close-sidebar {
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Estilos para o botão do usuário */
.user-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 16px;  /* Tamanho do texto do nome do usuário */
}

.user-button svg {
    height: 16px;  /* Tamanho do SVG igual ao tamanho do texto */
    width: 16px;   /* Largura do SVG igual ao tamanho do texto */
    margin-right: 8px;  /* Espaço entre o ícone e o nome */
}
