/* Estilo do Cabeçalho */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff; /* Cor de fundo do cabeçalho */
    box-shadow: 0px 4px 10px #007bff(0, 0, 0, 0.1);
    border-bottom: 2px solid #ececec;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha à esquerda */
}

/* Estilo do Logo */
.logo {
    height: 135px; /* Altura do logo */
    width: auto;  /* Mantém a proporção */
    object-fit: contain; /* Ajusta a imagem sem distorção */
    cursor: pointer; /* Cursor ao passar o mouse */
}

/* Espaçamento para evitar sobreposição do cabeçalho fixo */
.container {
    margin-top: 200px; /* Ajuste conforme a altura do cabeçalho */
}

/* Mudar a cor do texto para azul */
body {
    color: darkblue; /* Define a cor azul para o texto */
}

/* Estilo para os títulos (se necessário) */
h1, h2, h3, p, li {
    color: darkblue; /* Altera a cor do texto dos títulos e parágrafos */
}